* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
}

header {
	background-image: url("images/background-chillis.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 1000px;
	color: #CBA135;
	font-family: 'Prata', serif;
	display: flex;
	align-items: center;
	flex-direction: column;
}

header .page2 {
	height: 500px;
}

header h1 {
	font-size: 10rem;
	border-bottom: 10px;
	margin-top: 30px;
}

main {
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
}

main h1 {
	font-family: 'Prata', serif;
	font-size: 5rem;
	border-bottom: 10px;
	margin-top: 30px;
}

table {
	color: white;
	font-family: 'Prata', serif;
	font-size: 1.4rem;
	border:5px solid white;
	margin: 50px;
}

table td {
	padding: 15px 20px;
}

footer {
	background-color: black;
	font-family: 'Prata', serif;
	color: white;
	padding: 0 2%;
}

footer h2 {
	font-size: 5rem;
	padding: 30px 0;
	
}

form {
	display: flex;
	flex-direction: column;
}

label {
	color: white;
	font-size: 1.4rem;
}

input[type="text"] {
    width: 200px;
	margin-bottom: 20px;
}

input[type="submit"] {
    width: 100px;
	margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
	
	header h1 {
		font-size: 4rem;
	}

	main h1 {
		font-size: 3rem;
	}

	table {
		font-size: 1rem;
		margin: 3%;
	}
	
	table td {
		padding: 10px 12px;
	}

	footer h2 {
		font-size: 3rem;
	}

}